@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

.header-content {
    padding: 20px;
}

.header-content .title {
    display: flex;
    justify-content: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.main-content .sketch-box {
    /* display: flex; */
    border: 1px solid #333;
    height: 450px;
    width: 450px;
    /* flex: 1;
    flex-wrap: wrap; */
}

.cell {
    border: 1px solid #333;
}